/*

    COLORS

    Pink   : #ffdddd
    Purple : #ddddff
    Green  : #ddffdd
    Blue   : #ddffff
    Yellow : #ffffdd

    BREAKPOINTS

    600px
    1100px

*/

body{
    font-family: Palatino, Times, serif;
    background-color: #ddffdd;
    margin: 20px;
    font-size: 14px;
    line-height: 1.6;
}

ul{
    padding-left: 20px;
    margin-top: 0;
}

h1, h2, h3{
    color: #009999;
    margin: 0;
}

h2, h3{
    margin-bottom: 0;
}

a{
    font-weight: bold;
    color: red;
    text-decoration: none;
}

a:hover{
    color: blue;
}

header{
    padding-bottom: 15px;
    margin-bottom: 20px;
    border-bottom: 2px solid #ddddff;
}

#site_container{
    padding: 20px;
    max-width: 1100px;
    margin: 0 auto;
    background: white;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    border-radius: 5px;
}

#logo {
  text-align: center;
  padding-bottom: 20px;
}

#main_nav{
    text-align: center;
}

#main_nav a{
    display: block;
    padding: 10px 2%;
    background: #ffdddd;
    margin-bottom: 5px;
    border-radius: 5px;
}

#main_nav a:hover{
    background: #ddddff;
}

#main_content {
  background-color: #ddffff;
  padding: 20px;
  border-radius: 5px;
}

#main_content h1 {
  margin: 0;
}

#main_content p {
  padding-top: 3px;
  margin-bottom: 0;
}

#main_content h2 {
  margin-top: 20px;
}

#sidebar_content div {
  background-color: #ffffdd;
  padding: 35px 20px;
  margin-top: 20px;
}

h3 {
  margin: 0;
}

#sidebar_content ul {
  margin-bottom: 0;
}

#site_footer {
  background-color: #FEDCAD;
  text-align: center;
  margin-top: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
}

#site_footer a {
  padding: 10px;
}


/*out of mobile layout, into tablet layout*/


@media screen and (min-width: 600px) {
  #site_container {
    width: 80%;
  }

  #main_nav {
    display: flex;
    flex-direction: row;
  }

  #main_nav a {
    flex: 1 1 30%;
    margin-right: 14px;
  }

  #main_nav a:last-child {
    margin-right: 0;
  }

  #sidebar_content {
    display: flex;
  }

  #sidebar_content div {
    flex: 1 1 30%;
  }

}


/*out of tablet layout, into desktop layout*/

@media screen and (min-width:1100px) {
  #site_container {
    margin-bottom: 180px;
  }

  header {
    display: flex;
    align-content: center;
  }

  #logo {
    flex: 1 1 35%;
    text-align: left;
    font-size: 31px;
    padding-bottom: 0;
  }

  #main_nav {
    flex: 1 1 65%;
  }

  #main_content {
    display: flex;
  }

  #main_content div:first-of-type {
    flex: 1 1 70%;
    margin-right: 35px;
  }

  #main_content div:last-of-type {
    flex: 1 1 30%;
    padding-bottom: 5px;
  }

  #main_content h2 {
    margin-top: 15px;
  }

}
